<div class="toolbar">
	<h1 id="pageTitle">
		New Category
	</h1>
</div>

<form title="New Category" 
	  class="panel"
	  id="category_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@category.object%>"/>
		
		  <div class="row">
			  <label>Name: </label>
			  <input type="text" name="category[name]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>