<div class="toolbar">
	<h1 id="pageTitle">
		<%=@category.name%>
	</h1>
</div>

<div class="panel" selected="true">

<a class="button right_button" href="<%=url_for(:action => :edit, :id => @category.object)%>" target="_self">Edit</a>

<table class="grid">
    <% @products.each do |product| %>
    <tr>
    <td class="gridleft">Name</td>
      <td class="gridright"><%=product.name%></td>
    </tr>
    <% end %>
</table>
</div>